<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itachi1706.hypixelstatistics"
    android:installLocation="auto" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".KeyInfoActivity"
            android:label="@string/title_activity_key_info" >
        </activity>
        <activity
            android:name=".GeneralPrefActivity"
            android:label="@string/title_activity_general_pref" >
        </activity>
        <activity
            android:name=".ExpandedPlayerInfoActivity"
            android:label="@string/title_activity_expanded_player_info" >
        </activity>
        <activity
            android:name=".BoosterList"
            android:label="@string/title_activity_booster_list" >
        </activity>
        <activity
            android:name=".HistPrefActivity"
            android:label="@string/title_activity_history_pref" >
        </activity>
        <activity
            android:name=".GuildActivity"
            android:label="@string/title_activity_guild"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name=".DebugSettings"
            android:label="@string/title_activity_debug_pref" >
        </activity>
    </application>

</manifest>
